.NFT{
    display: flex;
    flex-direction: column;
    flex:1;
    

   border-radius: 10px;
   
   background-color:  rgb(253, 191, 253);
   background-image:
   linear-gradient(
     to top right, 
      rgb(143, 252, 148),rgb(30, 59, 185)
   );
    
    margin:0px;
    width: 100%;
    height: auto;
}
.Pub_Container{
    margin:0 auto
}
*:focus{
    outline: none;
}
.in{
    border-color: linear-gradient(to top right,red, #f06d06);
    color: #af9e7f;
}